* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif; }

p {
  color: #999999; }

.header {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  background: #FFFFFF; }

.header__logo {
  height: 1.5em; }

.header__menu {
  width: 100%;
  list-style: none;
  max-width: 600px;
  display: flex;
  overflow: hidden; }
  .header__menu a {
    padding: 1em;
    color: #0d2560;
    text-decoration: none; }

.header__menu_item:hover {
  padding-bottom: 1.5em;
  border-bottom: solid 4px #792560; }

.header__submenu {
  display: none;
  position: absolute;
  opacity: 0.7; }

.header__menu_item-child:hover > .header__submenu {
  display: block; }

.submenu__item, .submenu__item_riesgo {
  padding: 1em 0 1em 0;
  list-style: none;
  font-size: 13px;
  background-color: #FFFFFF;
  border-bottom: solid 2px #792560; }

.submenu__item_riesgo {
  border-bottom: 0; }

.foto {
  background-image: url("../imgs/institucional.jpg");
  height: 20em;
  background-size: cover; }

.subtitle {
  padding-bottom: 0.5em;
  font-size: 1.5em; }

.contacto {
  background-color: #EEEEEE;
  display: flex;
  justify-content: space-around; }

.direccion, .telefono, .correo {
  color: #333333; }

.contacto__ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2em; }

.contacto__map {
  padding: 0.5em; }

.contacto__legales {
  display: flex;
  align-items: center; }

.contacto__email {
  text-decoration: none; }

.footer {
  background-color: #FFFFFF;
  height: 6em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap; }

.footer__copy {
  color: #0d2560; }

.footer__copy_volver {
  font-size: 14px;
  border: 2px solid #792560;
  border-radius: 0.5em;
  padding: 1em;
  margin-right: 2em; }
  .footer__copy_volver:hover {
    background-color: #792560; }

.footer__copy_volver a {
  text-decoration: none; }
  .footer__copy_volver a:hover {
    color: #FFFFFF; }

.foto__productos {
  display: flex;
  align-items: flex-end; }

.container {
  padding: 4em;
  width: 100%;
  display: flex; }

.nosotros {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1em; }

.clientes {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 1em; }

.prod {
  display: flex;
  justify-content: center;
  line-height: 4em;
  width: 100%;
  margin-bottom: -5em; }
  .prod :hover {
    background-color: #792560;
    color: #FFFFFF; }

.icono {
  font-size: 2em;
  text-align: center;
  color: #792560; }
  .icono :hover {
    color: #FFFFFF; }

.prod__car, .prod__home, .prod__work, .prod__caucion, .prod__life, .prod__various {
  height: 9em;
  width: 9em;
  margin: 1em;
  text-align: center;
  background-color: #FFFFFF;
  border-top: solid 4px #792560; }

.prod__links {
  text-decoration: none; }
  .prod__links :hover {
    color: #FFFFFF; }

.datosutiles {
  width: 100%;
  display: flex;
  padding: 3em; }

.datosutiles__telefonos {
  display: flex;
  flex-direction: column;
  width: 50%; }

.allianz, .fedpatronal, .SMG, .asociart {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1.5em;
  padding-left: 1em; }

.allianz__logo:hover {
  filter: grayscale(100%); }

.fedpatronal__logo:hover {
  filter: grayscale(100%); }

.SMG__logo:hover {
  filter: grayscale(100%); }

.titulos {
  padding: 1em; }

.asociart__logo:hover {
  filter: grayscale(100%); }

.contactanos {
  width: 50%;
  height: 12em;
  background-color: #EEEEEE; }

.contactanos__texto {
  margin: 1em; }
  .contactanos__texto p {
    color: #000; }

section h2 {
  margin-left: 0.5em; }

.pasos {
  display: flex;
  flex-direction: row;
  padding: 1em 0 1em 0; }

.pasos__uno {
  width: 50%;
  border-right: solid 3px #792560;
  padding: 1em; }
  .pasos__uno h3 {
    text-align: center;
    color: #792560;
    margin-bottom: 0.5em; }

.pasos__dos {
  width: 50%;
  border-right: solid 3px #792560;
  padding: 1em; }
  .pasos__dos h3 {
    text-align: center;
    color: #792560;
    margin-bottom: 0.5em; }

.pasos__tres {
  width: 50%;
  padding: 1em; }
  .pasos__tres h3 {
    text-align: center;
    color: #792560;
    margin-bottom: 0.5em; }

.pasos__listado {
  color: #999999;
  margin: 0.5em; }

.contactar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1em;
  background-color: #EEEEEE; }

.contactar__info {
  width: 50%;
  display: flex;
  flex-direction: column; }

form {
  display: flex;
  flex-direction: column; }

.form__datos {
  display: flex;
  flex-direction: column; }

.form__nombre, .form__apellido, .form__email, .form__asunto_input {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 1em;
  font-family: "Lato", sans-serif;
  color: #0d2560;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin: 0.5em; }
  .form__nombre:focus, .form__apellido:focus, .form__email:focus, .form__asunto_input:focus {
    box-shadow: 0 0px 2px #792560; }

.form__asunto_input {
  width: 465px;
  height: 80px; }

.form__btn {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 1em;
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  background: #792560; }
  .form__btn:hover {
    box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6); }

.automotores__parallax {
  background-image: url("../imgs/automotores.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.hogar__parallax {
  background-image: url("../imgs/hogar.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.ART__parallax {
  background-image: url("../imgs/trabajo.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.cauciones__parallax {
  background-image: url("../imgs/cauciones.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.vida__parallax {
  background-image: url("../imgs/vida.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.riesgosdiversos__parallax {
  background-image: url("../imgs/riesgos_diversos.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
