* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Open Sans", sans-serif; }

p {
  padding: 0.5em; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  background: #0288D1; }

.foto {
  background-image: url("../imgs/office.jpg");
  height: 20em;
  background-size: cover; }

.header__menu {
  width: 50%;
  display: flex;
  justify-content: space-around;
  padding: 1em; }

.header__menu a {
  background: #03A9F4;
  color: #FFFFFF;
  text-decoration: none;
  padding: 0.5em;
  text-align: center;
  flex-grow: 1; }
  .header__menu a:hover {
    background: #B3E5FC;
    color: #212121; }

.subtitle {
  padding: 0.5em;
  text-align: center; }

.contacto {
  background-color: #03A9F4;
  display: flex;
  justify-content: space-around; }

.contacto__ubicacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 2em; }

.contacto__map {
  padding: 0.5em; }

.contacto__legales {
  display: flex;
  align-items: center; }

.bold__contacto {
  font-weight: bold;
  color: #e3f2fd; }

.footer {
  background-color: #0288D1;
  height: 6em;
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap; }

.footer__copy {
  color: #FFFFFF; }

.foto__productos {
  display: flex;
  align-items: flex-end; }

.subtitle {
  text-align: center; }

.intro {
  padding: 4em 0; }

.productos {
  display: flex;
  justify-content: center;
  line-height: 2em;
  width: 100%;
  text-align: center;
  margin-bottom: -4em; }

.productos__car, .productos__home, .productos__work, .productos__caucion, .productos__life, .productos__various {
  height: 5em;
  width: 7em;
  border-radius: 1em;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  background-color: #90a4ae; }
  .productos__car:hover, .productos__home:hover, .productos__work:hover, .productos__caucion:hover, .productos__life:hover, .productos__various:hover {
    background-color: #C5CAE9; }

.producto {
  display: flex;
  flex-flow: row wrap;
  line-height: 2em;
  justify-content: center; }
  .producto a {
    text-decoration: none; }

.producto__car, .producto__home, .producto__work, .producto__caucion, .producto__life, .producto__various {
  width: 20em;
  border-radius: 1em;
  margin: 1em;
  text-align: center;
  padding: 1em;
  background-color: #90a4ae; }
  .producto__car:hover, .producto__home:hover, .producto__work:hover, .producto__caucion:hover, .producto__life:hover, .producto__various:hover {
    background-color: #C5CAE9; }

.datosutiles {
  width: 100%;
  display: flex;
  padding: 1em; }

.datosutiles__companias {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%; }

.allianz, .fedpatronal, .SMG, .asociart {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center; }

.allianz__logo:hover {
  filter: grayscale(100%); }

.fedpatronal__logo:hover {
  filter: grayscale(100%); }

.SMG__logo:hover {
  filter: grayscale(100%); }

.asociart__logo:hover {
  filter: grayscale(100%); }

.contactanos {
  width: 50%;
  background-color: rgba(3, 169, 244, 0.4); }

.contactanos__texto {
  margin: 1em; }
  .contactanos__texto a {
    margin: 0.5em; }

.pasos {
  padding: 1em; }

.pasos__bold {
  font-weight: bold;
  color: #0288D1; }

.pasos__listado {
  padding-left: 2em;
  list-style-type: lower-latin; }

.contactar {
  width: 100%;
  display: flex;
  flex-direction: space-between;
  padding: 1em; }

.contactar__info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.contactar__info_bold {
  color: #0288D1;
  font-weight: bold; }

.formulario {
  width: 50%;
  background-color: rgba(3, 169, 244, 0.4); }

form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: 0 auto; }

.name_lastname, .email, .motivos {
  height: 3em;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em; }

.caja_comentarios {
  height: 10em;
  padding: 1em;
  border-radius: 1em;
  margin-bottom: 1em; }

.botones {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em; }
  .botones input {
    margin: 0 1em; }
