* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font;
}

p {
	color: $tipografia; 
}

.header {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	background: $color-fondo;
}

.header__logo {
	height: $size * 1.5;
}

.header__menu {
  width: 100%;
  list-style: none;
  max-width: 600px;
  display: flex;
  overflow: hidden;
  & a {
	padding: $size;
	color: $color-menu-fuente;
	text-decoration: none; 
	}
}

.header__menu_item:hover {
	padding-bottom: $size * 1.5;
	border-bottom: solid 4px $hover-menu;
} 

.header__submenu {
  display: none;
  position: absolute;
  opacity: 0.7;
}

.header__menu_item-child:hover > .header__submenu {
  display: block;
}

.submenu__item, .submenu__item_riesgo {
	padding: $size 0 $size 0;
	list-style: none;
	font-size: $size;
	background-color: $color-fondo;
	border-bottom: solid 2px $hover-menu;
}

.submenu__item_riesgo {
	border-bottom: 0;
}

.foto {
	background-image: url("../imgs/institucional.jpg");
	height: $size * 20;
	background-size: cover;
}

.subtitle {
	padding-bottom: 0.5em;
	font-size: $size * 1.5;
}

.contacto {
	background-color: $color-mapa;
	display: flex;
	justify-content: space-around;
}

.direccion, .telefono, .correo {
	color: $tipografia-contacto
}

.contacto__ubicacion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: $size * 2;
}

.contacto__map {
	padding: $size / 2;
}

.contacto__legales {
	display: flex;
    align-items: center;
}

.contacto__email {
	text-decoration: none;
}

.footer {
	background-color: $color-fondo;
	height: $size * 6;
	padding: $size / 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.footer__copy {
	color: $color-menu-fuente;
}

.footer__copy_volver {
	font-size: 14px;
	border: 2px solid $hover-menu;
	border-radius: $size / 2;
	padding: $size;
	margin-right: $size * 2;
	&:hover {
		background-color: $hover-menu;
	}
}

.footer__copy_volver a {
	text-decoration: none;
	&:hover {
		color: $color-fondo;
	}
	
}