* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: $font;
}

p {
	color: $tipografia; 
}

.header {
	padding: $size;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	background: $color-fondo;
}

.header__logo {
	height: 45px;
}

.header__menu {
	width: 100%;	
	list-style: none;	
    display: flex;
    flex-direction: row;
    padding: $size;
    & a {
	padding: $size;
	color: $color-menu-fuente;
	text-decoration: none;
		&:hover {
		padding-bottom: 1.8em;
		border-bottom: solid 4px $hover-menu;
		}
    }
}

.header__menu_prodinterno {
	list-style: none;
}

.foto {
	background-image: url("../imgs/institucional.jpg");
	height: $size * 20;
	background-size: cover;
}

.subtitle {
	padding-bottom: 0.5em;
	font-size: $size * 1.5;
}

.contacto {
	background-color: $color-mapa;
	display: flex;
	justify-content: space-around;
}

.direccion, .telefono, .correo {
	color: $tipografia-contacto
}

.contacto__ubicacion {
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: $size * 2;
}

.contacto__map {
	padding: $size / 2;
}

.contacto__legales {
	display: flex;
    align-items: center;
}

.contacto__email {
	text-decoration: none;
}

.footer {
	background-color: $color-fondo;
	height: $size * 6;
	padding: $size / 2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
}

.footer__copy {
	color: $color-menu-fuente;
}

.footer__copy_vermas {
	font-size: 14px;
	border: 2px solid $hover-menu;
	border-radius: $size / 2;
	padding: $size;
	margin-right: $size * 2;
	&:hover {
		background-color: $hover-menu;
	}
}

.footer__copy_vermas a {
	text-decoration: none;
	&:hover {
		color: $color-fondo;
	}
	
}