.contactar {
	width: 100%;
	display: flex;
	flex-direction: space-between;
	padding: $size; 
	background-color: $color-mapa;
}

.contactar__info {
	width: 50%;
	display: flex;
	flex-direction: column;
    justify-content: space-between;
}

.contactar__info_bold {
	color: $primary-color-dark;
	font-weight: bold;
}

.form {
	display: flex;
	flex-direction: column;
}
.form_persona {
	width: 100%;
	background-color: $color-mapa;
	border: 2px solid $hover-menu;
	color: $color-menu-fuente;
}

.form_email {
	width: 100%;
	background-color: $color-mapa;
	border: 2px solid $hover-menu;
	color: $color-menu-fuente;
}

.form_asunto {
	width: 100%;
	background-color: $color-mapa;
	border: 2px solid $hover-menu;
	color: $color-menu-fuente;
}

.boton input {
	color: $color-menu-fuente;
	font-size: $size;
	border: 2px solid $hover-menu;
	border-radius: $size;
	padding: $size / 2;
	&:hover {
		background-color: $hover-menu;
		color: $color-fondo;
	}
}