.contactar {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: $size; 
	background-color: $color-mapa;
}

.contactar__info {
	width: 50%;
	display: flex;
	flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

.form__datos {
	display: flex;
	flex-direction: column;
}

.form__nombre, .form__apellido, .form__email, .form__asunto_input {
	border: 0;
	outline: 0;
	padding: $size;
	border-radius: $size;
	font-family: $font;
	color: $color-menu-fuente;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
	margin: $size / 2;
	&:focus {
		box-shadow: 0 0px 2px $hover-menu;
	}
}
.form__asunto_input {
	width: 465px;
    height: 80px;
}

.form__btn {
	border: 0;
	outline: 0;
	padding: $size;
	border-radius: $size;
	font-family: $font;
	color: $color-fondo;
	background: $hover-menu;
	&:hover {
		box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
	}
}