.datosutiles {
	width: 100%;
	display: flex;
	padding: $size * 3; 
}

.datosutiles__telefonos {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.allianz, .fedpatronal, .SMG, .asociart {
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: $size * 1.5;
    padding-left: $size;
}

.allianz__logo:hover {
	filter: grayscale(100%);
}

.fedpatronal__logo:hover {
	filter: grayscale(100%);
}

.SMG__logo:hover {
	filter: grayscale(100%);
}
.titulos {
	padding: $size;
}

.asociart__logo:hover {
	filter: grayscale(100%);
}

.contactanos {
	width: 50%;
	height: $size * 12;
	background-color: $color-mapa;
}

.contactanos__texto {
	margin: $size;
	& p {
		color: #000;
	}
}


