.datosutiles {
	width: 100%;
	display: flex;
	padding: $size; 
}

.datosutiles__companias {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.allianz, .fedpatronal, .SMG, .asociart {
    padding: $size;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.allianz__logo:hover {
	filter: grayscale(100%);
}

.fedpatronal__logo:hover {
	filter: grayscale(100%);
}

.SMG__logo:hover {
	filter: grayscale(100%);
}

.asociart__logo:hover {
	filter: grayscale(100%);
}

.contactanos {
	width: 50%;
	background-color: $color-mapa;
}

.contactanos__texto {
	margin: $size;
	& a {
		margin: $size / 2;
	}
}


