.datosutiles {
	display: flex;
	justify-content: space-between;
	flex-flow: column wrap;
	width: 100%;
}

.allianz__logo {
	width: auto;
&:hover {
	filter: grayscale(100%);
}

}
.allianz_title {
	text-align: 1em;
}

.fedpatronal__logo:hover {
	filter: grayscale(100%);
}

.SMG__logo:hover {
	filter: grayscale(100%);
}

.asociart__logo:hover {
	filter: grayscale(100%);
}

