.foto__productos {
	display: flex;
    align-items: flex-end;
}

.subtitle {
	text-align: center;
}

.intro {
	padding: $size * 4 0;
}

.productos {
	display: flex;
	justify-content: center;
	line-height: $size * 2;
	width: 100%;
    text-align: center;
    margin-bottom: -4em;
}

.productos__car, .productos__home, .productos__work, .productos__caucion, .productos__life, .productos__various {
	height: $size * 5;
	width: $size * 7;
	border-radius: $size;
	margin: $size;
	text-align: center;
	text-decoration: none;
	background-color: $color-iconos; 
	&:hover {
		background-color: $color-iconos-hover; 
	}
}