.riesgosdiversos__parallax {
    background-image: url("../imgs/riesgos_diversos.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}