$color-fondo: #FFFFFF;
$color-mapa: #EEEEEE;
$tipografia: #999999;
$hover-menu: #792560;
$tipografia-contacto: #333333;
$color-menu-fuente: #0d2560;
$color-iconos:     	   #90a4ae;
$color-iconos-hover:   #C5CAE9;
$primary-color-dark:   #0288D1;
$break-small: 320px;
$break-large: 1200px;

$font: 'Lato', sans-serif;
$size: 1em;

